h1  {
    color: rgba(255, 0, 0, 0.825);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button > h2 {
    background-color:rgb(232, 221, 120);
    font-family:Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    border: 0%;

}
button {
    background-color:rgb(232, 221, 120);
    border-width: 0%;
    border: 0%;
    margin: 0%;
    width: 19.7%;
    padding: 0%;
    height: 100px;
    margin-top: 0%;
}

.header {
    margin-left: 15.1%;
}